body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a{
  color: #000;
}

a:hover {
  text-decoration: none;
  color:#007bff;
}

/* Rotación */
.rotate{

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  overflow:hidden;

}


/* Transformación al pasar el ratón por encima */
.rotate:hover
{

  transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);

}

.instagram {
  text-align: center;
  width: 45px;
  margin: 0 auto;
  margin-top: -5.7rem;

}

.git{
  width: 25px;
  margin-top: 10px;
  margin-left: 4px;
}


/*whatsapp flotante */

.float {
  position: fixed;
  width: 205px;
  height: 40px;
  bottom: 13px;
  float: left;
  margin-left: 10px;
  background-color: #67b868;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  /*box-shadow: 2px 2px 3px #999;*/
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}


/*fin whatsapp flotante*/

@media (max-width: 576px) {
  .float {
      position: fixed;
      width: 205px;
      height: 40px;
      bottom: 15px;
      float: left;
      background-color: #67b868;
      color: #FFF;
      text-align: center;
      font-size: 17px;
      margin-left: 10px;
      /*box-shadow: 2px 2px 3px #999;*/
      z-index: 100;
  }
}

.portada {
  padding-top: 3rem;
}


.disabled {
  color: rgb(167, 164, 164);
}

.mt-6{
  margin-top: 4.5rem;
}

.text-18 {
  font-size: 1.2rem;
}

.my-15{
  margin-top: 12.3%;
  margin-bottom: 12%;
}

.my-10{
  margin-top: 7%;
  margin-bottom: 6.5%;
}

.perfil{
  width: 200px;
  border-radius: 50%;
  margin-left: 1.8rem;

}

.bienvenida{
  font-size: 1.6rem;
  font-weight:300;
  min-width: 730px;
  max-width: 730px;
  border: 0.5px solid rgb(80, 80, 80);
  padding: 15px;
  background-color: #000;
  margin-right: 40px;
  color: rgb(185, 185, 185);
  line-height: 1.8;


}

.resaltado{

  color: wheat;
}


@media(max-width: 764px){
.perfil{
   width: 140px;
   margin-left: 0px;
}
.bienvenida{
  font-size: 0.8rem;
  position: relative;
  min-width: 155px;
  max-width: 155px;
  margin-right: 18px;
  padding: 5px;
}

}

.intermitente{
  box-shadow: 0px 0px 1px rgb(125, 158, 248);
  animation: infinite resplandorAnimation 2s;

}
@keyframes resplandorAnimation {
  0%,100%{
    box-shadow: 0px 0px 20px rgb(125, 158, 248);
  }
  50%{
  box-shadow: 0px 0px 0px rgb(125, 158, 248);

  }

}

.titulo-general{
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 2px solid wheat;
  padding-top: 5px;
}

.titulo-secciones{
  font-size: 1.6rem;
  margin-left: 2px;
  line-height: 1.4;
}

.titulo-articulo{
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .titulo-articulo{
    font-size: 1.6rem;
  }
}

.texto-articulo{
  font-size: 1.1rem;
  line-height: 2;
}

.banner-articulo{
  background: rgb(3, 28, 66);
}

.borde-inferior{
  border-bottom: none;
}

@media (max-width:764px ) {
  .borde-inferior{
    padding-bottom: 25px;
    border-bottom:0.3px solid rgb(207, 207, 207);
  }
}

.texto-mediano{
  font-size: 2rem;
  color: wheat;
}

.info-contacto{
  font-weight: 400;
}

.nav-link {
  font-size: 1.2rem;
}

.img-banner{
  padding-top: 20px;
  width: 20rem;
  margin-right: 2rem;

}

.banner{
  height: 500px;
}

@media(max-width: 764px){
  .banner{
    height: 350px;
  }
}

.rotateMe {
  -webkit-transition: -webkit-transform 1s ease-out;
  -moz-transition: -moz-transform 1s ease-out;
  transition: transform 1s ease-out;
 }
.rotateMe:hover {
  -webkit-transform: rotate(17deg);
  -moz-transform: rotate(17deg);
  transform: rotate(17deg);
 }


.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}
.bounce-enter-active {
  transform-origin: top;
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  transform-origin: top;
  animation: bounce-out 0.5s;
}

.min {
  min-height: 51rem;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.form-filter{
  width: 220px;

}

@media (max-width: 764px) {
  .form-filter{
    width: 100%;
  }
}

.wp{
  display: none;
}

@media (max-width: 500px) {
  .wp{
    display: block;
  }

}
